ReserveOnWeb/ReserveOnWeb/Web References/ReserveOnService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/ClickOnService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClickOnService" />
  <xs:import schemaLocation="http://localhost/ClickOnService/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ClickOnService" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ClickOnService" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereClienteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Cliente" nillable="true" type="q3:PessoaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsereClienteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsereClienteUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Usuario" nillable="true" type="q4:UsuarioEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AutenticarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="AutenticarUsuarioResult" nillable="true" type="q5:PessoaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Mesa" nillable="true" type="q6:MesaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirMesaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Mesa" nillable="true" type="q7:MesaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarMesaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarMesa">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Mesa" nillable="true" type="q8:MesaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeletarMesaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeletarMesaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Reserva" nillable="true" type="q9:ReservaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InserirReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InserirReservaResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="Reserva" nillable="true" type="q10:ReservaEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtualizarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtualizarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Entities" minOccurs="0" name="usuario" nillable="true" type="q11:UsuarioEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExisteUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExisteUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteConexao">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteConexaoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TesteConexaoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteConexaoParam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TesteConexaoParamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TesteConexaoParamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>