ReserveOnWeb/ReserveOnWeb/Web References/ReserveOnService/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/ClickOnService/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/ClickOnService/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/ClickOnService/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ClickOnService" />
      <xsd:import schemaLocation="http://localhost/ClickOnService/Service1.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Entities" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InsereClienteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:InsereClienteUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_InsereClienteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsereClienteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AutenticarUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_AutenticarUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:AutenticarUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirMesa_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirMesa" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirMesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirMesaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AtualizarMesa_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarMesa" />
  </wsdl:message>
  <wsdl:message name="IService1_AtualizarMesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarMesaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarMesa_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletarMesa" />
  </wsdl:message>
  <wsdl:message name="IService1_DeletarMesa_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletarMesaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:InserirReserva" />
  </wsdl:message>
  <wsdl:message name="IService1_InserirReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:InserirReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_AtualizarReserva_InputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarReserva" />
  </wsdl:message>
  <wsdl:message name="IService1_AtualizarReserva_OutputMessage">
    <wsdl:part name="parameters" element="tns:AtualizarReservaResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteUsuario_InputMessage">
    <wsdl:part name="parameters" element="tns:ExisteUsuario" />
  </wsdl:message>
  <wsdl:message name="IService1_ExisteUsuario_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExisteUsuarioResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TesteConexao_InputMessage">
    <wsdl:part name="parameters" element="tns:TesteConexao" />
  </wsdl:message>
  <wsdl:message name="IService1_TesteConexao_OutputMessage">
    <wsdl:part name="parameters" element="tns:TesteConexaoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_TesteConexaoParam_InputMessage">
    <wsdl:part name="parameters" element="tns:TesteConexaoParam" />
  </wsdl:message>
  <wsdl:message name="IService1_TesteConexaoParam_OutputMessage">
    <wsdl:part name="parameters" element="tns:TesteConexaoParamResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsereClienteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InsereClienteUsuario" message="tns:IService1_InsereClienteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InsereClienteUsuarioResponse" message="tns:IService1_InsereClienteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AutenticarUsuario" message="tns:IService1_AutenticarUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AutenticarUsuarioResponse" message="tns:IService1_AutenticarUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirMesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InserirMesa" message="tns:IService1_InserirMesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InserirMesaResponse" message="tns:IService1_InserirMesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarMesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AtualizarMesa" message="tns:IService1_AtualizarMesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AtualizarMesaResponse" message="tns:IService1_AtualizarMesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletarMesa">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeletarMesa" message="tns:IService1_DeletarMesa_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeletarMesaResponse" message="tns:IService1_DeletarMesa_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InserirReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/InserirReserva" message="tns:IService1_InserirReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/InserirReservaResponse" message="tns:IService1_InserirReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AtualizarReserva">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/AtualizarReserva" message="tns:IService1_AtualizarReserva_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/AtualizarReservaResponse" message="tns:IService1_AtualizarReserva_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/ExisteUsuario" message="tns:IService1_ExisteUsuario_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExisteUsuarioResponse" message="tns:IService1_ExisteUsuario_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TesteConexao">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TesteConexao" message="tns:IService1_TesteConexao_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TesteConexaoResponse" message="tns:IService1_TesteConexao_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TesteConexaoParam">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/TesteConexaoParam" message="tns:IService1_TesteConexaoParam_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/TesteConexaoParamResponse" message="tns:IService1_TesteConexaoParam_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsereClienteUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/InsereClienteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AutenticarUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/AutenticarUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirMesa">
      <soap:operation soapAction="http://tempuri.org/IService1/InserirMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarMesa">
      <soap:operation soapAction="http://tempuri.org/IService1/AtualizarMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletarMesa">
      <soap:operation soapAction="http://tempuri.org/IService1/DeletarMesa" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InserirReserva">
      <soap:operation soapAction="http://tempuri.org/IService1/InserirReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AtualizarReserva">
      <soap:operation soapAction="http://tempuri.org/IService1/AtualizarReserva" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExisteUsuario">
      <soap:operation soapAction="http://tempuri.org/IService1/ExisteUsuario" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TesteConexao">
      <soap:operation soapAction="http://tempuri.org/IService1/TesteConexao" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TesteConexaoParam">
      <soap:operation soapAction="http://tempuri.org/IService1/TesteConexaoParam" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost/ClickOnService/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>